@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bravi Test</h1>
    <p class="lead">Hello, My name is Braian Pavanelli and this is my development test for Bravi</p>
    <p><a href="@Url.Action("Index","Resume", null)" class="btn btn-primary btn-lg">See my resume &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Validate</h2>
        <p>
            This section uses a javascript to validate a string of Brackets
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Validate", null)">Let's try it &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>People</h2>
        <p>Here you have access to our contact agenda. This section get all data from a WEB API.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","People", null)">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>This project was developed using DDD, Entity Framework, AutoMapper, SimpleInjector, BootStrap, jQuery, etc</p>
        <p><a class="btn btn-default" href="https://github.com/braianpavanelli/BraviTest">Check My GitHub &raquo;</a></p>
    </div>
</div>